nav{
	background-color:$secondary_color;
	padding:15px;
	ul{
		text-align:right;
	}
}
li{
	display: inline-block;
	padding:25px;
	padding-right:20px;
	a{
		color: $section_color;
		text-decoration: none;
		padding:25px;
		border:1px solid $section_color;
		&:hover{
			color:$background-color;
		}
	}
}

.nav_image {
	display:inline;
	float:left;
	width:80px;
	height:70px;
}