.first_section{
	background-color:$background-color;
	padding:25px;
	padding-bottom:40px;
.first_article {
	-webkit-columns: 2 200px;
	-moz-columns: 2 200px;
	columns: 2 200px;
	border:1px solid $footer-color;
	padding-top:15px;
	padding-bottom:10px;
}
}

