.first_section{
	text-align:center;
	background-color:$background-color;
	padding:25px;
	padding-bottom:40px;
.first_article {
	-webkit-columns: 2 200px;
	-moz-columns: 2 200px;
	background-color:$section_color;
	columns: 2 200px;
	border:5px solid $border-color;
	padding-top:15px;
	padding-bottom:10px;
}
}
.second_section{
	background-color:$section_color;
	padding-top:25px;
	padding-bottom:40px;
	border:5px solid $secondary_color;
	.second_article{
	padding-top:15px;
	padding-bottom:10px;
	}
}



