//Main background colour for the website
$background-color:#f1f0ff;

//navigation colour
$secondary_color:#443266;

//navigation fontcolor and section background color:
$section_color:#FFEBCD;

//border colour
$border-color:#C3C3E5;

//footer colour
$footer-color:#8C489F;

